.text{
    display: flex;
    flex-wrap: wrap;
}
.settings{
    width:100%;
    text-align: center;
    padding: 10%;
    border-bottom:#f9f9f9 10px solid;
    display: flex;
}
.right_icon{
    text-align: right;
    width:40%;
}
h1{
    width:100%;
    text-align: center;
}
p{
    text-align: left;
    width: 60%;
}
.header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    border-bottom: #f9f9f9 10px solid;
}
img{
    border-radius: 50%;
    width: 100%;
    border: lightgray 8px solid;
    align-self: center;
}
.rounded_circle{
    margin: auto;
    padding: 10%;
}
.logout_icon{
    width: 100%;
    text-align: right;
}


.app-footer{
    background-color: var(--primary-color); 
    padding:10px;
    font-size:14px;
    margin-top: auto;
    flex-shrink: 0; /* adding this to make footer sticky */
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around; /*put space in between elements and outside of element */
    list-style: none;
}
.app-footer{
    background-color: var(--primary-color); 
    padding:10px;
    font-size:14px;
    margin-top: auto;
    flex-shrink: 0; /* adding this to make footer sticky */
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around; /*put space in between elements and outside of element */
    list-style: none;
}

.app-footer ul li{
    display: flex; /*targeting list items and making them flex */
    flex-direction: column;
    align-items: center;
}

.app-footer ul li a{
    font-size: 18px;
    margin-bottom:5px;
    text-decoration:none;
    color: black;
    opacity: 0.4;
}

.app-footer ul li .fa-user{
    opacity:1.0;
}

.app-footer ul #home-icon p{
    opacity:1.0;
}

.hide{
    display:none;
}